.container {
    display: flex;
    background-color: rgb(83, 152, 199);
    padding: .7rem;
    font-size: 1.2rem;
    color: white;
    align-items:baseline;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000000;
}

.dropdown {
    border: none;
    background-color: inherit;
    font-size: 1.2rem;
    color: white;
    outline: none;
    -webkit-appearance: none;
}

.dropdownWrapper {
    position: relative;
    display: inline-block;
}

.dropdownWrapper::after {
    content: '\0025BC';
}

.logo {
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    text-decoration: none;
}